@page "/"

<h1>@name</h1>
<p>@appName</p>
<p>@currenDate</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    string name = "Lakshay Rajput";
    string appName = "ThemeDriving";
    DateTime currenDate = DateTime.Now;
}